<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    {{>navegacion}}
     <h1>Donaciones</h1>

    <hr>
    <pre>{{token}}</pre>
    <!-- <img src="images/empresa.png" alt="Imágen de Empresa"> -->
    <hr>

    {{#each carga}}
    <p>{{this.nombreDonador}}  {{this.telefono}}   {{this.objetoDonado}}  {{this.fecha}} </p>
    <script>
        console.log({{this.fecha}} {{this.telefono}})
    </script>

    {{/each}}


   
   

</body>
</html>