<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    {{!--
    <pre>{{url}}</pre> --}}

    <h1>Museo Histórico y Natural de Lavalle</h1>
    <pre>{{portada.noticia.titular}}</pre> 

    <img src={{portada.noticia.imagen}} alt="imagen">
    <p>{{portada.noticia.descripcion}}</p>

    <hr>
    <p><b>Agenda</b></p>
    {{#each eventos}}
    <p>{{this.fecha}}  {{this.descripcion}} {{this.cupo}}  {{this.estado}}</p>
    {{/each}}
    <hr>
    
    <h3>Formulario para Visitas</h3><br>
    
    <div class="field-group">
        <label for="nombre">Nombre Completo:</label>
        <input type="text" id="nombre" name="nombre" required>
    </div>

    <div class="field-group">
        <label for="email">Correo Electrónico:</label>
        <input type="email" id="email" name="email" required>
    </div>

    <div class="field-group">
        <label for="numCelu">Teléfono de contacto:</label>
        <input type="text" id="numtel" name="numtel" required>
    </div>

    <div class="field-group">
        <label for="fechaVisita">Fecha de Visita:</label>
        <input type="date" id="fechaVisita" name="fechaVisita" required>
    </div>

    <div class="field-group">
        <label for="cantidadPer">Cantidad de Personas:</label>
        <input type="number" id="cantidadPer" name="cantidadPer" min="1" required>
    </div>

    <div class="field-group">
        <label for="guia">¿Requiere Guía?</label>
        <select id="guia" name="guia" required>
            <option value="si">Sí</option>
            <option value="no">No</option>
        </select>
    </div>

    <div class="button-group">
        <button onclick="enviar()">Enviar</button>
    </div>

    <script>

        function enviar(){
            
            fetch('{{url}}visitas',
                {headers: {'Content-Type':'application/json'} ,
                method: 'POST',
                body: JSON.stringify({
                    nombre: document.getElementById('nombre').value,
                    email: document.getElementById('email').value,
                    numtel: document.getElementById('numtel').value,
                    fechaVisita: document.getElementById('fechaVisita').value,
                    cantidadPer: document.getElementById('cantidadPer').value,
                    guia: document.getElementById('guia').value,
                    })
                }
            )

            const inputs = document.getElementsByTagName('input')
            console.log(inputs[0])
            for(let i=0 ; i<inputs.length ; i++){
                inputs[i].value = ""
            }

        alert("Su pedido ha sido enviado y será contactado a la brevedad")
                    
        }

    </script>


</body>
</html>