<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {{>navegacion}}

    <h3>Usuarios</h3>

    <hr>
   
    {{#each carga}}
    <p>{{this.nombre}} {{this.rol}} <form action="{{../url}}eliminarusuario" method="POST" >
        <input type="hidden" name="token" value="{{../token}}">
        <input type="hidden" name="nombre" value="{{this.nombre}}">
        <input type="submit" value="Eliminar">
        </form> </p>
    {{/each}}

    <hr>
    <label>Agregar Usuario:</label>
   <form action="{{url}}agregarusuario" method="POST">
    <p><label>Nombre:</label><input type="text" name="nombre"></p>
    <p><label>Contraseña:</label><input type="text" name="contrasena"></p>
    <p><label>Rol:</label><input type="text" name="rol"></p>
    <input type="hidden" name="token" value="{{token}}">
    <input type="submit" value="Agregar Usuario">
   </form>

</body>
</html>